@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin:0%;
    background-color: #FFF5EE;
}

/* Header section */

.header {
    background-color: #FFF5EE;
    width:auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 45px;
    font-weight: 600;
    color: #67215F;
}

.links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:20px;
    width: 513px;
    height: 33px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

a:hover {
     color: #67215F
}

.search-bar-section {
    display: flex;
    align-items: center;
    gap: 27px;
}


.search-bar-section input {
    width: 328px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #67215F;
    background-color:#FFF5EE;
}

.search-bar-section input::placeholder {
    font-size:  18px;
    font-weight: 600;
    text-align: center;
    color:#000000;
    background-image: url(assets/material-symbols_search-rounded.svg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-position-x: 15px;
    background-position-y: 4px;
}

.search-bar-section img {
    width: 40px;
    height: 30px;
    border: 2px solid;
    border-radius: 15px;
    padding:8px;
    border-color:#67215F
}

/* Main section */

.main {
    width: auto;
    background-color: #FFE4C4;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.main-left-section {
    align-self: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slogan {
    font-family: sans-serif;
    margin: 0%;
    font-size: 50px;
    font-weight: 900;
    width: auto;
    height: auto;
    text-align: center;
}

.slogan #slogan-highlight {
    font-family: sans-serif;
    color:#67215F
}

.main-right-imageholder img{
    width: 443px;
    height: 522px;
}

.paragraph {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    width: 457px;
    height: 112;
    text-align: left;
}

.main-button-section {
    display: flex;
    justify-content: space-between;
}

.enrollBtn, .learnmoreBtn {
    width: 262px;
    height: 77px;
    font-size: 25px;
    font-weight: 600;
    background-color: #FFE4C4;
    color:#67215F;
    border: solid;
    border-color: #67215F;
    border-width: 3px;
    border-radius: 8px;

}

.enrollBtn:hover, .learnmoreBtn:hover {
    width: 262px;
    height: 77px;
    font-size: 25px;
    font-weight: 600;
    background-color: #67215F;
    color:#FFF5EE;
    border: solid;
    border-color: #67215F;
    border-width: 3px;
    border-radius: 8px;
}

.cards-section {
    background-color: #FFF5EE;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.cards-title {
    margin:0%;
    align-self: center;
    font-weight: 500;
    font-size: 35px;
    font-weight: 900;
}

.cards{
    display: flex;
    justify-content: space-around;
}

.card{
    height: 229px;
    width: 229px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card p{
    text-align: center;
    margin-top: 0%;
    color: #000000;
    font-weight: 900;
}

.card img{
    height: 121px;
    width: 121px;
    align-self: center;
}


